 :root {
            --cor-primaria: #0A1931; 
            --cor-secundaria: #B91D23; 
            --cor-fundo: #F5F5DC; 
            --cor-ouro: #C5A358;
        }
        body {
            
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;

  /* Degradê minimalista e elegante */
  background: linear-gradient(to right, 
    #8A1C27,   /* vermelho profundo */
    #4A6FB3    /* azul claro */
  );

        }
        .login-container {
            width: 100%;
            max-width: 400px;
            padding: 40px;
            background-color: white;
            border-radius: 8px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        }
        .login-container h2 {
            color: var(--cor-primaria);
            margin-bottom: 25px;
            font-weight: bold;
        }
        .btn-login {
            background-color: var(--cor-secundaria);
            border-color: var(--cor-secundaria);
            color: white;
        }
        .btn-login:hover {
            background-color: #92171B;
            border-color: #92171B;
            color: white;
        }